@font-face {
  font-family: "Ibarra Real Nova";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/ibarra-real-nova-v27-latin-regular.woff2') format('woff2'),
  url('../fonts/ibarra-real-nova-v27-latin-regular.woff') format('woff'),
}

@font-face {
  font-family: "Ibarra Real Nova";
  font-style: normal;
  font-weight: 700;
  font-display: swap; 
  src: url('../fonts/ibarra-real-nova-v27-latin-700.woff2') format('woff2'),
  url('../fonts/ibarra-real-nova-v27-latin-700.woff') format('woff'),
}

@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap; 
  src: url('../fonts/public-sans-v15-latin-regular.woff2') format('woff2'),
  url('../fonts/public-sans-v15-latin-regular.woff') format('woff'),
}

@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/public-sans-v15-latin-700.woff2') format('woff2'),
  url('../fonts/public-sans-v15-latin-700.woff') format('woff'),
}

*,
::before
::after {
  box-sizing: border-box;
}

body {
  font-family: "Ibarra Real Nova", "Times New Roman" serif;
  font-weight: 700;
}

img {
  display: block;
  height: auto;
}

.list-unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 1150px;
  margin-inline: auto;
  padding-inline: 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

.heding {
  padding-top: 64px;
}

.heding-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  column-gap: 43px;
}

.nav-link {
  color: #33323d;
  font-family: "Public Sans", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration-line: none;
}

.section-hero {
  margin-top: 94px;
}

.section-project {
  margin-top: 115px;  
}

.section-project::before {
  position: absolute;
  left: calc(50% + -574px);
  display: inline-block;
  width: 350px;
  height: 1px;
  opacity: 0.15;
  background-color: #33323d;
  content: "";
}

.manage-box {
  display: flex;
  column-gap: 125px;
}

.manage-wrapper-box::before {
  position: relative;
  top: calc(50% + -92px);
  display: inline-block;
  width: 350px;
  height: 1px;
  background-color: #33323d;
  opacity: 0.15;
  content: ""
}

.manage-text-box {
  width: 360px;
}

.manage-title {
  color: #33323d;
  font-size: 40px;
  margin-block: 48px 20px;
  line-height: 42px; 
}

.manage-text {
  color: #33323d;
  font-family: "Public Sans", "Arial", sans-serif;
  margin-block: 0 23px;
  font-size: 15px;
  line-height: 30px;
  opacity: 0.8;
}

.manage-span {
  display: block;
  color: #5fb4a2;
  font-family: "Public Sans","Arial", sans-serif;
  font-size: 16px;
  margin-bottom: 16px;
  font-weight: 700;
  line-height: 30px;
}

.manage-link {
  display: inline-block;
  color: #33323d;
  font-family: "Public Sans","Arial", sans-serif;
  font-size: 12px;
  padding: 17px 36px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration-line: none;
  border: 1px solid #33323d;
}

.project-text-box {
  width: 683px;
}

.project-title {
  color: #33323d;
  font-size: 32px;
  margin-block: 0 28px;
  font-weight: 400;
  line-height: 42px;
}

.project-text {
  color: #33323d;
  font-family: "Public Sans", "Arial", sans-serif;
  line-height: 30px;
  margin-block: 0 40px;
  opacity: 0.8;
}

.static-title {
  color: #33323d;
  font-size: 32px;
  margin-block: 0 28px;
  font-weight: 400;
  line-height: 42px;
}

.project-item {
  margin-bottom: 32px;
}

.section-bookmark {
  margin-top: 64px;
}

.section-bookmark::before {
  position: absolute;
  right: calc(50% + -550px);
  display: inline-block;
  width: 1110px;
  height: 1px;
  opacity: 0.15;
  background-color: #33323d;
  content: "";
}

.section-bookmark::after {
  position: absolute;
  right: calc(50% + -550px);
  display: inline-block;
  width: 1110px;
  height: 1px;
  opacity: 0.15;
  background-color: #33323d;
  content: "";
}

.fylo-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fylo-box::before {
  position: absolute;
  left: calc(50% + 1px);
  display: inline-block;
  width: 1px;
  height: 130px;
  opacity: 0.15;
  background: #33323d;
  content: "";
}

.fylo-project-box::before {
  position: relative;
  bottom: -75px;
  display: inline-block;
  width: 8px;
  height: 16px;
  background-image: url("../images/left-arrow-min.svg");
  background-repeat: no-repeat;
  content: ""
}

.fylo-title {
  color: #33323d;
  font-size: 32px;
  margin: 0;
  margin-top: 32px;
  margin-inline: 40px;
  font-weight: 400;
  line-height: 36px;
}

.fylo-link {
  display: inline-block;
  color: #33323d;
  font-family: "Public Sans", "Arial", sans-serif;
  font-size: 16px;
  margin-left: 40px;
  margin-bottom: 32px;
  font-weight: 400;
  line-height: 30px; 
  text-decoration-line: none;
  opacity: 0.5;
}

.bookmark-box::after {
  position: relative;
  bottom: 12px;
  right: -60px;
  display: inline-block;
  width: 8px;
  height: 16px;
  background-image: url("../images/right-arrow-min.svg");
  background-repeat: no-repeat;
  background-position: calc(50%) calc(50%);
  content: ""
}