@font-face {
  font-family: "Ibarra Real Nova";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/ibarra-real-nova-v27-latin-regular.woff2') format('woff2'),
       url('../fonts/ibarra-real-nova-v27-latin-regular.woff') format('woff'),
}

@font-face {
  font-family: "Ibarra Real Nova";
  font-style: normal;
  font-weight: 700;
  font-display: swap; 
  src: url('../fonts/ibarra-real-nova-v27-latin-700.woff2') format('woff2'),
       url('../fonts/ibarra-real-nova-v27-latin-700.woff') format('woff'),
}

@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap; 
  src: url('../fonts/public-sans-v15-latin-regular.woff2') format('woff2'),
       url('../fonts/public-sans-v15-latin-regular.woff') format('woff'),
}

@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/public-sans-v15-latin-700.woff2') format('woff2'),
       url('../fonts/public-sans-v15-latin-700.woff') format('woff'),
}

*,
::before
::after {
  box-sizing: border-box;
}

body {
  font-family: "Ibarra Real Nova", "Times New Roman" serif;
  /* font-weight: 700; */
}

img {
  display: block;
  height: auto;
}

.container {
  width: 1150px;
  margin-inline: auto;
  padding-inline: 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

.list-unstyled {
  padding-left: 0;
  margin-block: 0;
  list-style-type: none;
}

/* HOME PAGE STARTS  */

.site-header {
  padding-block: 64px 50px;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-list {
  display: flex;
  gap: 42px;
}

.navbar-item-link {
  color: #33323d;
  font-family: "Public Sans";
  /* font-weight: 400; */
  font-size: 12px;
  letter-spacing: 2px;
  text-decoration-line: none;
  transition: color .2s linear;
}

.navbar-item-link:hover {
  color: #5fb4a2;
}

/* start hero section */

.hero {
  padding-top: 250px;
  background-image: url("../images/hero-img.png");
  background-repeat: no-repeat;
  background-position: center;
  
}

.hero-wrapper {
  display: inline-block;
  width: 440px;
  padding-top: 56px;
  padding-right: 55px;
  background-color: #fafafa;
}

.hero-title {
  margin: 0 0 53px;
  color: #33323d;
  font-family: "Ibarra Real Nova";
  font-size: 50px;
  line-height: 50px; /* 100% */
  letter-spacing: -0.446px;
}

.about-me {
  display:inline-flex ;
  align-items: center;
  gap: 34px;
  text-decoration-line: none;
  padding-right: 34px;
  color: #fff;
  font-family: "Public Sans";
  font-size: 12px;
  letter-spacing: 2px;
  background-color: #203a4c;
  transition: background-color .3s linear;
}
.about-me:hover {
  background-color: #5fb4a2;
}

.about-me::before {
  display: inline-block;
  width: 48px;
  height: 48px;
  background-image: url("../images/about-arrow.svg");

  content: " ";
}

/* start about section */

.about {
  padding-top: 150px;

}

.about-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper-about-title {
  padding-block: 50px 46px;
  margin-right: 95px;
  width: 350px;
  border-top: 1px solid #33323d26;
  border-bottom: 1px solid #33323d26;
}

.about-title {
  margin: 0 0 28px;
  color: #33323d;
  font-family: "Ibarra Real Nova";
  font-size: 40px;
  line-height: 42px; /* 105% */
  letter-spacing: -0.357px;
}
.about-title-desc {
  margin: 0 0 24px;
  color: #33323dcc;
  font-family: "Public Sans";
  line-height: 30px; /* 187.5% */
}

.portfolio-link {
  display: inline-block;
  padding: 17px 34px;
  color: #33323d;
  font-family: "Public Sans";
  font-size: 12px;
  letter-spacing: 2px;
  border: 1px solid #33323d;
  text-decoration-line: none;
  transition: background-color ,color .3s linear;
}

.portfolio-link:hover {
  background-color: #33323d;
  color: #fff;
}

.doing-project {
  padding-block: 150px;
}

.doing-project-inner {
  display: flex;
  align-items: center;
  gap: 32px;

}

.project-title {
  display:flex;
  margin: 0;
  gap: 10px;
  width: 900px;
  align-items: center;
  color: #33323D;
  font-family: "Ibarra Real Nova";
  font-size: 40px;
  line-height: 42px; /* 105% */
  letter-spacing: -0.357px;
}

.contact-me {
  display: inline-block;
  padding: 17px 24px;
  color: #33323d;
  font-family: "Public Sans";
  font-size: 12px;
  letter-spacing: 2px;
  border: 1px solid #33323d;
  text-decoration-line: none;
  transition: background-color ,color .3s linear;
}

.contact-me:hover {
  background-color: #33323d;
  color: #fff;
}

.project-title::after {
  display: inline-block;
  width: 524px;
  height: 1px;
  flex-shrink: 0;
  opacity: 0.15;
  background: #33323D;
  content: "";
}

.site-footer {
  padding-block: 24px;
  background-color: #33323d;
}

.footer-wrapper {
  display: flex;
  align-items: center;
  gap: 50px;
}

.footer-nav-list {
  display: flex;
  gap: 48px;
  margin-right: auto;

}

.footer-item-link {
  color: #fff;
  font-family: "Public Sans";
  font-size: 12px;
  letter-spacing: 2px;
  text-decoration-line: none;
}

.footer-icon-list {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* HOME PAGE ENDS */

/* PORTFOLIO PAGE STARTS */

.portfolio-hero {
  padding-top: 50px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
}

.portfolio-item {
  display: flex;
  align-items: center;
  gap: 125px;
}

.portfolio-item:nth-child(2n) {
  flex-direction: row-reverse;
}

.portfolio-item:nth-child(2n) .wrapper-portfolio-item-title {
  margin-right: 0;
  margin-left: 96px;
}
.wrapper-portfolio-item-title {
  width: 350px;
  margin-right: 96px;
  padding-block: 104px;
  border-top: 1px solid #33323d26;
  border-bottom: 1px solid #33323d26;

}

.portfolio-item-title {
  margin: 0 0 28px;
  color: #33323D;
  font-family: "Ibarra Real Nova";
  font-size: 40px;
  line-height: 42px; /* 105% */
  letter-spacing: -0.357px;
}

.portfolio-item-title-desc {
  margin: 0 0 24px;
  color: #33323dcc;
  font-family: "Public Sans";
  line-height: 30px; /* 187.5% */
}

.view-project {
  display: inline-block;
  padding: 17px 34px;
  color: #33323d;
  font-family: "Public Sans";
  font-size: 12px;
  letter-spacing: 2px;
  border: 1px solid #33323d;
  text-decoration-line: none;
  transition: background-color ,color .3s linear;
}
.view-project:hover {
  background-color: #33323d;
  color: #fff;
}

/* PORTFOLIO PAGE ENDS */

/* INSURE PAGE STARTS */

/* insure hero section starts */

.insure-hero {
  padding-top: 108px;
  padding-bottom: 115px;
}

.insure-hero-wrapper {
  background-image: url("../images/insure-hero-bg.png");
  background-repeat: no-repeat;
  background-size: 1110px 500px;
  margin-inline: auto;
  width: 1110px;
  height: 500px;
}

/* insure hero section ends */

/* static preview section starts */

.static-preview-wrapper {
  display: flex;
  justify-content: space-between;
}

.insure-content-wrapper {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 385px;
  padding-block: 48px;
  border-top: 1px solid #33323d57;
  border-bottom: 1px solid #33323d57;
}

.insure-content-title {
  margin-top: 0;
  margin-bottom: 29px;
  font-size: 40px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: -0.357px;
  color: #33323d;
}

.insure-content-desc {
  margin-top: 0;
  margin-bottom: 23px;
  font-family: "Public Sans", "Arial", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; 
  color: #33323d;
  opacity: 0.8;
}

.insure-content-link {
  text-decoration-line: none;
  font-family: "Public Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  color: #5fb4a2;
}

.static-preview-link {
  margin-top: 32px;
  width: 178px;
  text-align: center;
}

.project-background {
  width: 635px;
}

.project-background-title {
  margin-top: 0;
  margin-bottom: 28px;
  font-size: 32px;
  font-weight: 400;
  line-height: 42px; 
  letter-spacing: -0.286px;
  color: #33323d;
}

.project-background-desc {
  margin-top: 0;
  margin-bottom: 40px;
  font-family: "Public Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  color: #33323d;
  opacity: 0.8;
}

.project-background-subtitle {
  margin-top: 0;
  margin-bottom: 28px;
  font-size: 32px;
  font-weight: 400;
  line-height: 42px; 
  letter-spacing: -0.286px;
  color: #33323d;
}

.project-background-img {
  margin-bottom: 32px;
}

/* static preview section ends */

/* sldie section starts */

.slide-sites {
  padding-top: 64px;
  padding-bottom: 115px;
}

.slide-list {
  display: flex;
  justify-content: space-between;
  margin-block: 0;
  padding-left: 0;
  /* padding-block: 32px; */
  list-style-type: none;
  border-top: 1px solid #33323d4b;
  border-bottom: 1px solid #33323d4b;
}

.slide-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 580px;
  height: 130px;
  padding-left: 40px;
  border-right: 1px solid #33323d4b;
}

.slide-item::before {
  position: absolute;
  left: calc(50% - 570px);
  content: "";
  width: 8px;
  height: 16px;
  background-image: url("../images/left-arrow-min.svg");
}

.slide-item:nth-child(2) {
  text-align: right;
  border-right: none;
  padding-right: 40px;
}

.slide-item:nth-child(2)::after {
  position: absolute;
  left: calc(50% + 570px);
  content: "";
  width: 8px;
  height: 16px;
  background-image: url("../images/right-arrow-min.svg");
}

.slide-title {
  margin-block: 0;
  font-size: 32px;
  font-weight: 400;
  line-height: 36px; 
  letter-spacing: -0.286px;
  color: #33323d;
}

.slide-desc {
  margin-block: 0;
  font-family: "Public Sans", "Arial", sans-serif;
  font-weight: 400;
  line-height: 30px; 
  color: #33323d;
  opacity: 0.5;
}

/* sldie section ends */

/* insure article part starts */

.insure-article {
  padding-bottom: 150px;
}

.article-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.insure-article-title-wrapper {
  width: 350px;
}

.insure-article-title {
  margin-block: 0;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.357px;
  color: #33323d;
}

.insure-article-line {
  display: inline-block;  
  width: 534px;
  height: 1px;
  background-color:  #33323d4b;
}

/* insure article part ends */

/* INSURE PAGE ENDS */

/* FYLO PAGE STARTS */

.fylo-hero {
  padding-top: 108px;
  padding-bottom: 115px;
}

.fylo-hero-wrapper {
  background-image: url("../images/fylo-hero-bg.png");
  background-repeat: no-repeat;
  background-size: 1110px 500px;
  margin-inline: auto;
  width: 1110px;
  height: 500px;
}

/* FYLO PAGE ENDS */

/* CONTACT ME PAGE STARTS */

/* contact me hero section starts */

.contact-me-hero {
  padding-top: 30px;
  padding-bottom: 47px;
}

.contact-me-hero-wrapper {
  display: flex;
  justify-content: space-between;
  padding-block: 48px;
  border-top: 1px solid #33323d3f;
  border-bottom: 1px solid #33323d3f;
}

.contact-me-hero-title {
  margin-block: 0;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.357px;
  color: #33323d;
}

.contact-me-hero-desc-wrapper {
  width: 635px;
}

.contact-me-hero-desc {
  margin-top: 0;
  margin-bottom: 24px;
  font-family: "Public Sans", "Arial", sans-serif;
  font-weight: 400;
  line-height: 30px;
  color: #33323d;
}

.contact-me-social-list {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-block: 0;
  padding-left: 0;
  list-style-type: none;
}

/* contact me hero section ends */

/* CONTACT ME PAGE ENDS */